{% extends "base_default.html" %}

<p>Signup success!<br />


<strong>Email:</strong> {{ request.session.fresh_account.0 }}<br />
<strong>Username:</strong> {{ request.session.fresh_account.1 }}</p>
{{ fresh_account }}
{% if request %}
<p>Request existiert</p>
{% if request.session %}
<p>Session existiert</p>
{% if request.session.signed_up_recently %}
<p>Session-Variable 'signed_up_recently' existiert: {{ request.session.signed_up_recently }}</p>
{% endif %}
{% if request.session.test %}
<p>Session-Variable 'test' existiert: {{ request.session.test }}</p>
{% endif %}
{% endif %}
{% endif %}