{% extends "base_default.html" %}


{% block content %}
<h1>Couch request inbox</h1>
<ul>
{% for r in couch_requests %}
<li>
<h2 style="background-color:{% if r.decision == -1 %}#FFB2A4{% elif r.decision == 1 %}#CDFF9E{% else %}none{% endif %}">
<b>{{ r.requester.username }}</b> requests your couch {{ r.couch.id }}!</h2>
<p>
<i>Date:</i> {{ r.date_sent }}<br />
<a href="{% url 'couches:accept_request' r.id %}">Accept</a> |
<a href="{% url 'couches:decline_request' r.id %}">Decline</a>
</p>
<p>{{ r.message }}</p>
</li>
{% endfor %}
</ul>
{% endblock content %}